body {
    font-family: arial, helvetica;
    background: #dcdcdc;
    margin: 0;
    text-align: center;
}

h1 {
    font-family: Sans - Serif;
    text-align: Century Gothic;
}

p {
    font-size: 2vw;
    text-align: justify;
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: left;
}

h1 {
    display: inline-block;
    position: relative;
    font-family: Verdana;
    font-size: 2vw;
}

h1::after,
h1::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: black;
    top: 0.6em;
}

h1::after {
    right: -140px;
}

h1::before {
    left: -140px;
}

.b img {
    font-style: flat;
    padding-right: 10px;
    width: 500px;
    height: 300px;
}

.a {
    font-size: 2vw;
    text-align: justify;
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: left;
}