h1{
	display: inline-block;
	position: relative;
font-family:Verdana;
font-size: 3vw;

}
h1::after{
	content: "";
	position: absolute;
	width: 580px;
	height: 3px;
	background-color: black;
	top: 0.6em;
}
.con{
display: flex;
justify-content: center;
margin-right: 5px;
	margin-left:5px;
}
.imagen{
	width: 450px;
margin-left:15px;
    height: 250px;	
}
body{
	font-family:arial, helvetica;
	background: #dcdcdc;
	margin: 0;

}
p{
	font-size: 1.5vw;	
text-align: justify;
	margin-right: 10px;
	margin-left: 10px;
	justify-content: left;
}